{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <p>Ad Videum test</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
{% block javascripts %}
    <!-- BELOW: testing integration of AdVideum script -->
    <script type="text/javascript" src="//cdn.advideum.com/tag.js?id=359-151607&plt=preroll" async="true"></script>
{% endblock %}